# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Web related
lib/generated_plugin_registrant.dart

# IDE related
.idea/
.vscode/
*.swp
*.swo
*~

# Misc
.DS_Store
.dart_tool/
.packages
pubspec.lock
